.wd-search-bar::placeholder {
    position: absolute;
    bottom: 23.5%;
}

.wd-search-icon {
    top: 28%;
    left: 25px;
    color: darkgrey;
}

.wd-gear-icon {
    color: #2a9fd6;
}

.wd-card-title-over-image {
    top: 361px;
    color: #1a1a1a;
}

.wd-explore-tuit-icon {
    height: 80px;
    width: 80px;
}

.wd-explore-avatar {
    height: 50px;
    width: 50px;
}