.wd-verified-icon {
    color: dodgerblue;
}

.wd-liked-icon {
    color: red;
}

.wd-disliked-icon {
    color: blue;
}

.wd-image-center {
    align-items: center;
}

.wd-tuit-stats-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}